[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
dask = {extras = ["distributed"], version = "*"}

[dev-packages]
ruff = "*"

[requires]
python_version = "3.11"
